.outlet {
    border: 1px solid #080;
    background-color: #0c0;
    color: #fff;
    padding: 1px;
    text-align: center;
    display: none;
}

body.plugin-outlets-visible .outlet {
    display: block;
}
